@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main(Messages("playauthenticate.index.title")) {
	<div class="col-1-2">
	<h3>Jogos</h3>
	</div>
	<div class="col-1-2">
	<h3>Cadastrar jogo</h3>
		<div id="register-match">
		  	<div id="team-picker-left">
		  	</div>
		  	<div class="x-separator">X</div>
		  	<div id="team-picker-right">
		  	</div>
			<div class="col-1-1 datetime-match">
				<input id="datetime-match" type="text" >
			</div>
		</div>
	</div>
}