@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main(Messages("playauthenticate.index.title")) {
	<div class="col-1-2">
		<h3>@Messages("palpitada.matches")</h3>
		<div class="secondary-separator"></div>
	</div>
	<div class="inner-separator line-450"></div>
	<div class="col-1-2">
	<h3>@Messages("palpitada.register_match")</h3>
	<div class="secondary-separator"></div>
		<div id="register-match">
			<div class="col-1-1 line">
				<select class="stage">
				</select>
			</div>
			<div class="col-1-1 line">
				<select class="group">
				</select>
			</div>
			<div class="col-1-1 line">
				<select class="stadium">
				</select>
			</div>
		  	<div id="team-a">
		  	</div>
		  	<div class="x-separator">X</div>
		  	<div id="team-b">
		  	</div>
			<div class="col-1-1 line">
				<input class="datetime" type="text" >
			</div>
			<div class="col-1-1">
				<input type="submit" value="@Messages("palpitada.register")" class="btn btn-primary register"><br/>
			</div>
		</div>
	</div>
}