@(loginForm: Form[_])

@import helper._
@implicitField = @{ FieldConstructor(_fieldConstructor.f) }

@main(Messages("playauthenticate.login.title"),"login") {

  <h2>@Messages("playauthenticate.login.title")</h2>
  
  <div class="line-separator"></div>  
  <div id="login">
    <div class="col-1-2 form-container">
      @Messages("playauthenticate.login.oauth")
      @* Display list of available providers *@
      @_providerPartial(skipCurrent=false)
    </div>
	
	<div class="inner-separator line-300">
	</div>
	
    <div class="col-1-2 form-container">
      @* Display proprietary login form *@
    	@helper.form(routes.Application.doLogin) {
    	
        @if(loginForm.hasGlobalErrors) { 
          <p class="error">
            <span class="label label-important">@loginForm.globalError.message</span>
          </p>
        }
        
        @_emailPartial(loginForm)
          
        @inputPassword(
          loginForm("password"),
		  'class -> "form-control big-input input-sm min-4 password",
          '_label -> Messages("playauthenticate.login.password.placeholder")
        )
          
        <input type="submit" value="@Messages("playauthenticate.login.now")" class="btn btn-primary"><br/>
        <br/>
        <a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">@Messages("playauthenticate.login.forgot.password")</a>

    	}
    </div>
  </div>

}