@(signupForm: Form[_])

@import helper._
@implicitField = @{ FieldConstructor(_fieldConstructor.f) }

@main(Messages("playauthenticate.signup.title"),"signup") {

  <h2>@Messages("playauthenticate.signup.title")</h2>

  <div class="line-separator"></div>
  <div id="signup">
    <div class="col-1-2 form-container">
        @Messages("playauthenticate.signup.oauth")
        @* Display list of available providers *@
        @_providerPartial(skipCurrent=false)
    </div>
    
    <div class="inner-separator line-450">
	</div>
    
    <div class="col-1-2 form-container">
        @* Display proprietary login form *@
    	@helper.form(routes.Application.doSignup) {
    	
            @if(signupForm.hasGlobalErrors) { 
                <p class="error">
		            <span class="label label-important">@signupForm.globalError.message</span>
		        </p>
            }
            
	    	@inputText(
	    		signupForm("name"), 
	    		'class -> "form-control big-input input-sm min-1",
                '_label -> Messages("playauthenticate.signup.name") 
            )
            
            @_emailPartial(signupForm)
             
            @_passwordPartial(signupForm)

            <input type="submit" value="@Messages("playauthenticate.signup.now")" class="btn btn-primary">
    	}
    </div>
  </div>

}