#register-match {
	text-align: center;
}

#team-a, #team-b, .x-separator {
	display: inline-block;
}

#register-match .line {
	text-align: center !important;
	margin: 10px 0;
}

#register-match .stage {
	max-width: 180px;
}

#register-match .group {
	max-width: 60px;
}

#register-match .stadium {
	max-width: 180px;
	margin-bottom: 40px;
}