

#add-match {
	text-align: center;
}

#team-a, #team-b, .x-separator {
	display: inline-block;
}

#add-match .line {
	text-align: center !important;
	margin: 10px 0;
}

#add-match .stages {
	max-width: 180px;
}

#add-match .groups {
	max-width: 60px;
}

#add-match .stadiums {
	max-width: 180px;
	margin-bottom: 40px;
}

.delete-match {
	padding: 10px 0 !important;
}

#no-matches, #no-finished-matches, #no-unfinished-matches {
	display: none;
}
