body {
	overflow-y:scroll;
}

#content {
	margin: 0;
	text-align: center;
}

#content .form-container {
	margin-top: 20px;
}

label {
	font-size: 1.1em;
	margin-bottom: 10px;
}

.form-container form {
	display: inline-block;
	min-width: 250px;
}

.hidden {
	display: none;
}

header .navbar {
	margin-bottom: 0px;
} 

.x-separator {
	margin: 0 50px 0px 50px;
	font-size: 2em;
	vertical-align: top;
	font-weight: bold;
}

.line-separator {
	height:0px;
	background:none;
	margin: 20px 0;
	border-bottom: 2px solid #34495E;
}

.inner-separator {
	float: left;
	background-color: #34495E;
	width: 80%;
	height: 2px;
	margin-bottom: 30px;
	margin-left: 10%;
	margin-right: 10%;
}

.datetime {
	text-align: start;
}

.selectricWrapper {
	display: inline-block;
}

.selectric .label, .selectricItems ul, .selectricItems li {
	font-size: 14px;
	font-weight: normal;
}

.team-picker {
	background-color: #C9D787;
	margin: 0;
	padding: 10px 0;
	width: 100%;
	color: #7D8A2E;
	margin-bottom: 20px;
	min-height: 200px;
}

#team-picker {
	padding: 0 !important;
	font-size: 0.8em !important;
	line-height: 50px !important;
	display: inline-block;
	margin-bottom: 30px;
	margin-top: 10px;
}

.dd-selected-text {
	line-height: 60px !important;
	text-align: left !important;
	margin: 0;
	width: auto;
	height: 50px;
}

.dd-options {
	height: 330px;
	overflow-y: auto !important;
	background-color: #F9F9F9 !important;
}

.dd-option-text {
	line-height: 60px !important;
}

.dd-select {
	padding: 0 !important;
	border: none !important;
	height: 60px;
	border-radius: 5px !important;
}

.dd-option, .dd-selected {
	padding: 0 !important;
	font-size: 14px !important;
}

.dd-option:hover {
	background-color: #DDD !important;
}

.dd-option-image, .dd-selected-image {
	margin-left: 10px;
}

.dd-pointer-down, .dd-pointer-up {
	border-color: #CCC transparent transparent !important;
}

/* Provider part */
.providers {
	list-style: none;
	padding: 20px;
}

.providers li {
	display: inline;
	margin: 10px 10px;
}

.providers li img {
	width: 50px;
}

/* Icons */
.btn .left-icon {
	margin-right: 10px;
}

/* Error handling */
div.error-block {
	font-size: 12px;
	background-color: #ec7063;
	border-radius: 6px;
	color: white;
	position: absolute;
	padding: 5px;
	padding-top: 10px;
	margin-top: 25px;
	display: none;
}

p.error {
	background-color: red;
	border: 2px dashed red;
}

.alert {
	background-color: #ec7063;
	color: white;
	text-align: center;
	border-radius: 0;
	margin: 0;
	margin-bottom: 20px;
}

.has-success input {
	border: 2px solid #2ecc71;
}

/* Adjust input elements */
.big-input {
	max-width: 300px;
	display: inline;
	margin-top: 0px;
	margin-bottom: 30px;
	border: 2px dashed #34495e;
}

.nav .middle {
	line-height: 50px;
	margin-left: 21px;
	margin-right: 20px;
}

.input .input-icon {
	display: none;
	float: left;
}

form input[type="submit"] {
	margin-top: 10px;
}

/*Message block*/

.success {
	background-color: #D3F0DE;
	color: #1B7A40;
	padding: 30px;
}

.error {
	background-color: #EDC7C5;
	color: #7A3430;
	padding: 30px;
}

/****Sections****/
/*Match-list*/
.match-list {
	padding-right: 20px;
	padding-left: 20px;
	list-style-type: none;
	display: block;
}

.match-list li:nth-child(even) {
	background-color: #EEEEEE;
}

.match-list li:nth-child(odd) {
	background-color: #F5F5F5;
}

.match .date .day {
	display: inline-block;
	font-size: 30px;
	margin-right: 5px;
}

.match .date .month-year {
	display: inline-block;
	font-size: 12px;
	line-height: 15px;
	border-left: 1px solid #34495e;
	padding-left: 5px;
	margin-right: 10px;
}

.match .date .month {
	display: block;
}

.match .date .time {
	display: inline-block;
}

.match-list .date .year {
	display: block;
}

.match .stage {
	display: inline;
	line-height: 50px;
	text-align: left;
}

.match .teams {
	font-size: 20px;
}

.match .teams .teamA {
	display: inline-block;
	text-align: right;
	font-size: 14px;
}

.match .teams .teamB {
	display: inline-block;
	text-align: left;
	font-size: 14px;
}

.match .teams img {
	margin-left: 10px;
	margin-right: 10px;
}

/*Responsiveness*/

@media (min-width: 870px) {
	.form-container form {
		display: inline-block;
		min-width: 300px;
	}
}

@media (min-width: 768px) {
	.inner-separator {
		margin: 0;
		margin-top: 50px;
		margin-bottom: 0px;
		width: 2px;
	}

	.line-300 {
		height: 250px;
	}
	
	.line-450 {
		height: 400px;
	}
	
	.hero-unit {
		margin: 0 5%;
	}
	
	.row {
		margin: 0 5%;
	}

	#content .form-container, header .navbar-default {
		padding: 15px 50px;
	}
}

@media (min-width: 1200px) {
	#content {
		margin: 0;
	}
}

.custom-icon {
	width: 17px;
	height: auto;
	margin-right: 5px;
}


/* Visual styles (override flat-ui) */
.navbar-default .navbar-nav > li > a {
	color: white;
}

header .navbar {
	background-color: #468966;
	color: #838C6C;
} 

.btn-primary {
	background-color: #FFD34E;
	border: none;
	border-radius: 5px;
	color: #6B5933;
}

.btn-primary:hover, .btn-primary.disabled, .btn-primary:active, .open .dropdown-toggle.btn-primary {
	background-color: #468966;
}

header .btn-primary {
	background-color: #FFD34E;
	border: 2px solid transparent;
	border-radius: 5px;
	color: #6B5933;
}

header .btn-primary:hover, header .btn-primary.disabled, header .btn-primary:active, header .open .dropdown-toggle.btn-primary, header .btn-primary:focus {
	background-color: transparent;
	border: 2px dashed white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #C9D787;
}

.navbar-nav .dropdown-toggle .caret {
	border-top-color: #6B5933;
	border-bottom-color: #6B5933;	
}

.caret:focus, .navbar-nav .dropdown-toggle .caret:focus {
	border-top-color: white !important;
	border-bottom-color: white !important;
}

.dropdown-menu {
	border: 2px dashed #468966;
	border-top: none;
}

.secondary-separator {
	display: inline-block;
	width: 70%;
	margin-bottom: 20px;
	height: 2px;
	border-top: 1px solid #34495E;
	line-height: 0;
}